.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: fit-content;
}

.points.socials,
.points.about,
.points.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}